article > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dicediv{
    height: 250px;
}
fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset label {
    display: inline-flex; /* width 잡을 수 있음 */
    justify-content: center;
    align-items: center;
    width: 15%;
}